{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ object.title }}</h1>
                {% if object.preview %}
                    <img src="{{ blog.preview.url }}" class="img-fluid mb-3" alt="{{ blog_post.title }}">
                {% endif %}
                <p class="text-muted">Published: {{ object.created_at|date:"d.m.Y H:i" }}</p>
                <p class="text-muted">Number of view: {{ object.views_count }}</p>
                <div class="mt-4">
                    {{ object.content|linebreaks }}
                </div>
                <div class="mt-4">
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Back to blogs</a>
                    <a href="{% url 'blog:blog_update' blog.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'blog:blog_delete' blog.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}